body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.calculator {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  width: 300px;
}

h2 {
  text-align: center;
}

label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#result {
  margin-top: 15px;
  font-size: 18px;
  color: green;
  text-align: center;
}
